<ng-container>
  <form [formGroup]="postDetails">
    <div class="row" >
      <div class="col-md-6">
        <div formControlName="title" class="form-control"><strong>Title:</strong> <p>{{post?.title}}</p></div>
        <div formControlName="body" class="form-control"><strong>Body:</strong>  <p>{{post?.body}}</p></div>
        <input formControlName="userId" class="form-control"><strong>User Id:</strong> <p>{{post?.userId}}</p>
        <input formControlName="id" class="form-control"><strong>Id:</strong> <p>{{post?.id}}</p>
      </div>
    </div>
  </form>
</ng-container>

