  <form novalidate class="mat-dialog-container"
        [hidden]="hideDialog"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"

  >
      <h1 mat-dialog-title>Your feedback:</h1>
    <mat-dialog-content>
      <label>Message:
        <textarea type="text" formControlName="body"
                  required>
        </textarea>
      </label>
      <br/>
      <label>Name:
        <input type="text" formControlName="userId"
               required
        ></label>
      <label>Title:
        <input type="text" formControlName="title"
               required
        ></label>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button type="button" class="btn btn-secondary" mat-dialog-close>Cancel</button>
      <button type="submit" class="btn btn-secondary" [disabled]="!form.valid">Submit</button>
    </mat-dialog-actions>
  </form>
