<h2>Guest Book</h2>
<ng-container *ngIf="(loading$ | async)">
  <div class="uploader-status">
    <mat-spinner style="margin:0 auto;"></mat-spinner>
  </div>
</ng-container><!-- Add new entry button -->
<ng-container *ngIf="!(loading$ | async)">
  <div style="float: right">
    <button class="btn btn-secondary pointer" [autofocus]="" [disabled]="disableButton" (click)="openEntryDialog()">
      {{disableButton ? "..." : "Add feedback"}}
    </button>
  </div>
  <div style="display: inline-flex" class="comments" >
    <div
      *ngIf="entries$ | async as entries">
      <div
        *ngFor= "let entry of entries">
        <h3 class="comments-body">
          {{entry?.body}}
        </h3>

          <p class="comments-meta">By:
            <a [textContent]="entry.userId"></a>
            <button mat-button (click)="openUserInfo(entry.userId)">Click for details...</button>
          </p>
      </div>
    </div>
  </div>
</ng-container>




