<h2 style="text-align: left; margin-bottom: 15px; color: lightslategray;">Guest Book</h2>
<app-loading *ngIf="loading$ | async"></app-loading>
<!-- Add new entry button -->
<ng-container *ngIf="!(loading$ | async)">
  <div style="float: right">
    <button class="btn btn-secondary pointer" [disabled]="disableButton" (click)="openDialog()">
      {{disableButton ? "..." : "Add feedback"}}
    </button>
  </div>
  <div style="display: inline-flex" class="comments" >
    <div
      *ngIf="entries$ | async as entries">
      <div
        *ngFor= "let entry of entries">
        <h3 class="comments-body">
          {{entry?.body}}
        </h3>

          <p class="comments-meta">By:
            <a [textContent]="entry.userId"></a>
            <button mat-button (click)="openUserInfo(entry.userId)">Click for details...</button>
          </p>

      </div>
      <mat-paginator [length]="entries?.length" [pageSize]="3"
                     [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
    </div>
  </div>
</ng-container>




