html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar {
  padding-bottom: 18px;
}

#mainNav .navbar-nav>li.nav-item>a {
  margin-top: 12px;
}

.pointer {
  cursor: pointer;
}

.mat-dialog-container
{
  padding: 0 0 24px 0;
  height: 300px;
  min-width: 600px;
  max-width: 2050px;
  width: 2050px;
  border-radius: 5px;
  margin: 10px 60px 10px 10px;
}

.mat-dialog-actions
{
  display: flex;
  min-width: 40px;
  flex: 0.2 0 40px;
  justify-content: flex-end;
  /*color: grey;*/
}

.mat-dialog-actions .btn
{
  float: left;
}

/*.cdk-overlay-pane{*/
/*  min-width: 600px;*/
/*  max-width: 2010px;*/
/*  width: 2010px}*/

.cdk-overlay-container, .cdk-global-overlay-wrapper{
  border-radius: 5px;
}
