<h1>Recent Posts</h1>
<ng-container *ngIf="(loading$ | async)">
  <div class="uploader-status">
    <mat-spinner style="margin:0 auto;"></mat-spinner>
  </div>
</ng-container>
<ng-container *ngIf="!(loading$ | async)">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto"
         *ngIf="posts$ | async as posts">
      <div *ngFor="let post of posts">
        <a>
          <app-post-thumbnail [post]="post"></app-post-thumbnail>
        </a>
      </div>
    </div>
  </div>
</ng-container>

<!-- Navigate to all posts button -->
<div class="clearfix">
  <a class="btn btn-secondary float-right pointer" routerLink="/posts"
      >
        All Posts &rarr;
  </a>
</div>
