<div class="comments">
<h2 class="comments-title">Comments:</h2>
  <div
  *ngIf="comments$ | async as comments">
    <div
       *ngFor= "let comment of comments">
      <h3 class="comments-body">
        {{comment?.body}}

      </h3>
      <p class="comments-meta">Commented by:
        <a [textContent]="comment.name"></a>
        <br />
        <a href="mailto:" [textContent]="comment.email"></a>
      </p>

  </div>
</div>

<!-- Back to Post Button -->
<div>
  <br />
  <div class="clearfix text-center mx-auto">
      <a class="btn btn-secondary pointer" routerLink="..">Back &rarr;</a>
  </div>
  <br />
</div>
</div>
